<div class="form-outline">
  <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" />
</div>
<div class="results-container">
  <% @insects.each do |insect| %>
    <div class="item-card" id=<%= insect.id %>>
      <a href="insects/<%= insect.id %>"><img class="item-image" src="<%= insect.img_url %>"></a>
      <div class="item-text">
        <h3 class="item-name"><%= link_to insect.name, insect_path(insect) %></h3>
      </div>
    </div>
  <% end %>
 </div>
