// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Nunito-Medium", "Helvetica", "sans-serif";
$headers-font: "Nunito-Light", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
    font-family: "AveriaSansLibre-Light";
    src: font-url('AveriaSansLibre-Light.ttf');
  }

@font-face {
  font-family: "Nunito-Light";
  src: font-url('Nunito-Light.ttf');
}

@font-face {
  font-family: "NotoSerif-Regular";
  src: font-url('NotoSerif-Regular.ttf');
}

@font-face {
  font-family: "Nunito-Medium";
  src: font-url('Nunito-Medium.ttf');
}

@font-face {
  font-family: "AveriaSansLibre-Regular";
  src: font-url('AveriaSansLibre-Regular.ttf');
}
