<h1>Book your Bug!</h1>

<%= simple_form_for ([@user, @booking], data: {turbo: false}) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>
