$button-color: #6D071A;


.search-bar {
  width: 100%;
  padding: 32px;
  position: relative;
}

.button-search {
  position: absolute;
  height: 32px;
  bottom: 35px;
  right: 35px;
  width: 200px;
  background-color: $button-color;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
}

.button-search:hover {
  background-color: #862b3c;
  color: #FFFFFF;
}

.button-search:active {
  scale: 0.95;
  transition: 0.2s;
}

.search-bar .form-control {
  border-radius: 20px;
}
